# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Node (if you ever add a dev server)
node_modules/
npm-debug.log*

# Env files
.env
.env.local
